CREATE TABLE IF NOT EXISTS "Contact" ("id" TEXT NOT NULL, "name" TEXT NOT NULL, "area" TEXT NOT NULL, "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP, CONSTRAINT "Contact_pkey" PRIMARY KEY ("id"));
